#bottom3rd {
	top: 50%;
	position: relative;
}
.section {
	text-align:center;
}
/* Sections
 * --------------------------------------- */
 #section0,  #section1,  #section2,  #section3 {
}
#section0 {
	background-image: url(imgs/.jpg);
	padding: 0;
}
/*Creatin a ull height slide */
 .slides {
	height: 100%;
	display:block;
}
#slide1 {
	background-image: url(../img/zbrushes1.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size: cover;
	height: 100%;
	display:block;
}
#slide2 {
	background-image: url(imgs/);
	background-repeat:no-repeat;
	background-position:center;
	background-size: cover;
	height: 100%;
	display:block;
}
#section2 {
	background-image: url(imgs/);
	padding: 3% 0 0 0;
}
#section3 {
	background-image: url(imgs/);
	padding: 3% 0 0 0;
}