<<<<<<< HEAD

=======
>>>>>>> master
footer {
    background-color: #d6d4d0;
    padding: 15px;
    height:auto;
    position:fixed;
    bottom:0;
    width:100%;
}
footer  p{
    font-size: 18px;
    font-weight: 500;
}
<<<<<<< HEAD
} 
=======
>>>>>>> master
