form {
	position:relative;
	width:300px;
	height:450px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: 500;
	color: #000;
	text-decoration: none;
	padding:10px;
	border: thin solid #CCC;
	margin-top: 5%;
	margin-right: auto;
	margin-bottom: 5%;
	margin-left: auto;
}
input {
	width:300px;
	display:block;
	border: 1px solid #999;
	height: 25px;
}
textarea#feedback {
	width:300px;
	height:175px;
}
textarea.message {
	display:block;
}
textarea:focus, input:focus {
	border: 1px solid #09C;
}
input.button {
	width:100px;
	position:absolute;
	right:20px;
	bottom:20px;
	background:#09C;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	height:30px;
	border: 1p solid #999;
	font-weight: 500;
}
input.button:hover {
	background:#fff;
	color:#09C;
}
h1 {
	text-align: center;
}
