

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
}

#container {
width: 100%;
border:none;
}

p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
 }

.break {
    font-family: "ff-meta-serif-web-pro", Arial, Times, "Times New Roman", serif;
    color: #666666;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
    margin: 5px
}   

.quote {
    font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    line-height: 20px;
    margin-left: 20px;
    margin-top: 5px;
}

.site-width {
    width: 90%;
    margin: 0 auto;
    clear: left
}

.copy-width {
    width: 95%;
    float: left;
    margin: 5%;
    clear: left;
    float: none
}
