@media only screen and (max-device-width: 480px) {

* Prevent iOS from adjusting font size */
html {
    -webkit-text-size-adjust:none; 
    -ms-text-size-adjust:none;
     *zoom: 1;
}

body {
    -webkit-font-smoothing: antialiased;
    font-size: 85.1%;
    line-height: 1.5em;
    *zoom: 1;
}

p {
    font-size: 23px;
    line-height: 1.5em;
    margin-bottom: 40px;
}

.copy-width {
    width: 91.533333333333%;
    clear: left;
    float: none;
    margin: 0 .8999999999999999% 0 9.2333333333333%;
  }
  
.site-width {
    max-width: 100%;
    width: 90%;
    clear: left;
<<<<<<< HEAD
    float: none
}
=======
    margin: 0 auto;
  }
>>>>>>> 93e92ea0d1b07e701c919628ba0360938799b5fb
