* Prevent iOS from adjusting font size */
html {
    -webkit-text-size-adjust:auto; 
    -ms-text-size-adjust:none;
}

body {
    font-size: 81.25%;
    line-height: 1.333;
}

p {
    font-size: 81.25%;
    line-height: 1.333;
}
