@font-face {
 font-family: 'BebasNeueRegular';
 src: url('fonts/BebasNeue-webfont.eot');
 src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/BebasNeue-webfont.woff') format('woff'), url('fonts/BebasNeue-webfont.ttf') format('truetype'), url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
 font-weight: normal;
 font-style: normal;
}
/* CSS reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
html, body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}
input {
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address, caption, cite, code, dfn, th, var {
	font-style:normal;
	font-weight:normal;
}
ol, ul {
	list-style:none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    letter-spacing: -1px;
    line-height: 1.2
}

p {
	font-size:100%;
	font-size: 1.2em;
	font-weight:normal;
}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
}
/* General button Style */
body {
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size: 16px;
    line-height: 1.5;
    font-weight: 200;
    background-color: #000;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
	overflow-x: hidden;
}
.ie7 body {
	overflow:hidden;
}
a {
	color: #333;
	text-decoration: none;
}
.container {
	position: relative;
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
.clr {
	clear: both;
}
.container > header {
	padding: 30px 30px 10px 20px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: left;
}
.container > header h1 {
	opacity: .6;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	font-size: 3em;
	line-height: 1em;
	position: relative;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	padding: 0px;
	opacity: .6;
}
.container > header h1 span {
	font-size: 1.5em
}
.container > header h2, p.info {
	opacity: .6;
	font-size: 1.2em;
	font-style: italic;
	color: #f8f8f8;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
/* Header Style */
.splash-top {
	opacity: .6;
	font-family: Arial, sans-serif;
	font-size: 1em;
	width: 100%;
	background-color: #d6d4d0;
	opacity: 0.7;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
	min-height: 30px;
	padding-right: 3%;
	padding-left: 1%;
}
.splash-top a {
	padding: 0px 1px;
	letter-spacing: 1px;
	color: #000;
	display: block;
	float: left;
}
.splash-top a:hover {
	color: #900;
}
.splash-top span.right {
	float: right;
	padding-right: 5%;
}
.splash-top span.right a {
	float: none;
	display: inline;
}
p.splash-button {
	display: block;
	padding-top: 18px;
	padding-right: 0px;
	padding-bottom: 18px;
	padding-left: 0px;
}
p.splash-text {
	font-size: 1em;
	line-height: 1.5em;
	width:100%;
	min-width:300px;
	max-width:345px;
	color: #fff;
	opacity: .6;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 0px;
	text-align: left;
	position: relative;
	display: inline-block;
}
p.splash-button a, p.splash-button a.current-button, p.splash-button a.current-button:hover {
	opacity: .6;
	display: inline-block;
	border: 1px solid #6d0019;
	padding: 8px 14px 8px;
	font-size: 18px;
	line-height: 1.2em;
	margin: 2px 3px;
	font-weight: 800;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #a90329;
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
	background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
}
p.splash-button a:hover {
	background: #6d0019;
}
p.splash-button a:active {
	opacity: .6;
	background: #6d0019;
	background: -moz-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6d0019), color-stop(56%, #8f0222), color-stop(100%, #a90329));
	background: -webkit-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
	background: -o-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
	background: -ms-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
	background: linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
	-webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
	-moz-box-shadow:0px 1px 1px rgba(255, 255, 255, 0.9);
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
}
p.splash-button a.current-button, p.splash-button a.current-button:hover {
	color: #A5727D;
	background: #6d0019;
}
/* Media Queries */
@media screen and (max-width: 768px) {
 .container > header {
 text-align: center;
}
 p.splash-button {
 position: relative;
 top: auto;
 left: auto;
}
p.splash-text {
 text-align: center;
 position: relative;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
.container {
	position: relative;
	text-align: center;
	width: 100%;
	margin: 0 auto;;
	min-width: 320px;
	max-width: 480px;
}
