/********************
Splash
********************/
body {
<<<<<<< HEAD
<<<<<<< HEAD
  padding-top: 70px;
  background-color: #000;
=======
	padding-top: 70px;
	background-color: #fff;
}
/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block
}
body {
	line-height:1
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
table {
	border-collapse:collapse;
	border-spacing:0
>>>>>>> 06ffafdf2e87f3164ad48d5d13a6ce1b2fdd2833
}
.row {
	margin: 2%;
}
<<<<<<< HEAD

=======
.button {
	display:inline-block;
	line-height:1;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	border-radius: 3px;
	padding: 6px 8px;
	background:#000;
	color:#FFF;
	margin:2em 0;
}
.button:hover {
	color:#FFF;
	background-color:#444;
}
.button+.button {
	margin-left:1em;
}
>>>>>>> 06ffafdf2e87f3164ad48d5d13a6ce1b2fdd2833
.text-scroll {
	width: 100%;
	height: 450px;
	overflow: auto;
	margin: 5px;
	padding: 5px;
	font-size: 12;
	color: #000;
	letter-spacing: 1px;
	background-color: #f6f6f5;
	border-style: solid;
	border-width: 1px;
	border-color: #d6d4d0;
}
=======
	padding-top: 70px;
	background-color: #fff;
}
/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block
}
body {
	line-height:1
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
.row {
	margin: 2%;
}
.button {
	display:inline-block;
	line-height:1;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	border-radius: 3px;
	padding: 6px 8px;
	background:#000;
	color:#FFF;
	margin:2em 0;
}
.button:hover {
	color:#FFF;
	background-color:#444;
}
.button+.button {
	margin-left:1em;
}
.text-scroll {
	width: 100%;
	height: 450px;
	overflow: auto;
	margin: 5px;
	padding: 5px;
	font-size: 12;
	color: #000;
	letter-spacing: 1px;
	background-color: #f6f6f5;
	border-style: solid;
	border-width: 1px;
	border-color: #d6d4d0;
}
>>>>>>> 06ffafdf2e87f3164ad48d5d13a6ce1b2fdd2833
.header-image {
	background-position: top;
	height: auto;
	display: block;
	margin-top:-22px;
	text-align: center;
	background-image: url(img/bg-splash.jpg);
	background-repeat: no-repeat;
	background-size: cover:;
}
.headline {
	padding: 30px 0;
}
.headline > .container > h1 {
	font-size: 130px;
	background: #ffffff;
	background: rgba(255, 255, 255, 0.9);
}
.headline > .container > h2 {
	font-size: 20px;opacity
	line-height:35px;
	color: #000;
	background: #ffffff;
	opacity:0.7;
	background-position: 255;
<<<<<<< HEAD
}
<<<<<<< HEAD
=======
}
.site-width-splash {
	max-width:960px;
	width: 100%;
	margin: 0 auto;
	clear: left
}
=======
.site-width-splash {
	max-width:960px;
	width: 100%;
	margin: 0 auto;
	clear: left
}
>>>>>>> 06ffafdf2e87f3164ad48d5d13a6ce1b2fdd2833
.copy-width-splash {
	max-width: 960px;
	width: 81.5 3333333333335%;
	margin: 0 auto;
	clear: left
}
body {
	font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
	font-size: 22px;
	line-height: 37px;
	font-weight: 400;
 	margin-bottom: 40px -webkit-font-smoothing: antialiased;
}
.splash {
	font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
	font-size: 100%;
	line-height: 30px;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 20px;
}
.break-splash {
	font-family: "ff-meta-serif-web-pro", Arial, Times, "Times New Roman", serif;
	color: #000;
	font-size: 30px;
	line-height: 30px;
	font-weight: 800;
	margin-top: 55px;
	margin-bottom: 55px;
	text-align: center
}
/* typography*/
p {
	font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
	font-size: 26px;
	line-height: 39px;
	font-weight: 500;
	margin-bottom: 40px
}
h1 {
	font-family: "ff-meta-serif-web-pro", Arial, Times, "Times New Roman", serif;
	font-weight:bold;
	text-transform: uppercase;
	opacity:0.3;
}
#section-1 {
	background-size: 100%;
	background-image: url('../img/zbrushes1.jpg');
	background-repeat: no-repeat;
	display: block;
	width: 100%;
}
#section-1 header {
	color:#FFF;
	position:absolute;
	top:20%;
	left:50%;
	margin:0 0 0 -350px;
	width:700px;
	text-align:center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	line-height:1.1;
	background-image: url();
}
#section-1 h1 {
	font-size:2em;
}
#section-1 h2 {
	text-transform:capitalize;
	opacity:.75;
	font-size:48px;
}
/* Section 2 */
#section-2 {
}
/* Section 3 */
#section-3 {
}
#section-3 .photos {
	padding:150px 0;
	width:620px;
	margin-left:150px;
}
#section-3 .photos > :last-child {
	margin-bottom:0
}
#section-3 .fixed {
	position: fixed;
	top: 150px;
	left: 150px;
	width: 200px;
}
#section-3 .photos-inner {
	margin-left:220px;
	width:400px;
}
#section-3 .photos-inner img {
	display:block;
	margin:0 0 4em 0;
	max-width:100%;
	background: #fff;
	border-radius: 1px;
	padding: 14px 14px 63px 14px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 1px 0 rgba(0, 0, 0, .1);
}
>>>>>>> 06ffafdf2e87f3164ad48d5d13a6ce1b2fdd2833
