body {
        margin-right: auto;
        margin-left: auto;
        text-rendering:optimizeLegibility;
        -webkit-font-smoothing:antialiased;
        height:100%;
}

.container {
        margin-right: auto;
        margin-left: auto;
        *zoom: 1;
}

.site-width {
        max-width:960px;
        width:90%;
        clear:left;
        margin:0 auto;
}

.copy-width {
        width:81.533333333333%;
        clear:left;
        float:none;
        margin:0 .8999999999999999% 0 9.2333333333333%;

}

h1, h2, h3 {        
        font-family: "ff-meta-serif-web-pro", Arial, Times, "Times New Roman", serif;
        line-height:1em;
        font-weight: 700;
}

p {
        font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
        font-size:26px;
        line-height:39px;
        font-weight:400;
        margin-bottom:40px;
        width: 100%;
}

.break {
        font-family: "ff-meta-serif-web-pro", Arial, Times, "Times New Roman", serif;
        color: #666666;
        font-size: 60px;
        line-height: 60px;
        font-weight: 600;
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center
}
.quote {
        font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
        color: #4c4c4c;
        font-size: 20px;
        line-height: 34px;
        font-weight: 100;
        margin-Top: 1%;
        margin-bottom: 2%;
        margin-left: 60px;
        width: 80%
}
.img-center {
         width: 40%; 
         max-width: 100%;
         min-width: 80%;
        margin-top: 2%;
        margin-right: auto;
        margin-bottom: 2%;
        margin-left: auto;
        display: block;
        width: 60%;
}

.art-caption {
        font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
        font-style: italic;
        color: #4c4c4c;
        font-size: 2vw;
        line-height: 33px;
        font-weight: 100;
        text-align: center;
        font-weight: normal;
        margin-bottom: 2%;
}

ul, li, ol, dl, dd, dt {
        list-style:none;
        padding:0;
        margin:0;
}

#footer-button {
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 2%;
        margin-left: auto;
        padding-top: 2%;
        padding-bottom: 4%;
        text-align: center;
        display: block;
}
footer {
    background-color: #d6d4d0;
    height: 100px;
    width: 100%;
    padding: 10px;
}
footer  p{
    font-size: 12pt;
    font-weight: 400;
}

@media only screen and (min-device-width : 481px) and (max-device-width : 568px)

html, body {
    width: 90%;
    -webkit-text-size-adjust:none;
    -webkit-font-smoothing: antialiased;
    *zoom: 1;
}

p {
    font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
    font-size:24px;
    line-height:37px;
    font-weight:400;
    margin-bottom:40px;
    width: 100%;
}
