body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}
.navbar {
    background-color: #d6d4d0;
}

.site-width {
    max-width: 960px;
    width: 90%;
    clear: left;
    margin: 0 auto;
}

.copy-width {
    width: 81.533333333333%;
    clear: left;
    float: none;
    margin: 0 .8999999999999999% 0 9.2333333333333%;
}
section.top {
    margin: 0;
    margin-top: 25px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.section.top img {
    display: block;
    height: auto;
    left: 0;
    max-width: 100%;
    position: relative;
    top: 0px;
    width: 100%;
    z-index: 0;
    margin-bottom: 40px
}
.section.top .container {
    width: none;
    max-width: none;
    position: absolute;
    top: 0;
    width: 70%;
    max-height: 480px;
    z-index: 1;
    float: left;
    font-family: "ff-meta-serif-web-pro", Arial, Times, "Times New Roman", serif;
    margin-top: 40px;
    margin-left: 40px;
    color: #a8a59c;
    font-size: 7.5vw;
    letter-spacing: -1px;
    line-height: 1;
    text-align: left;
    opacity: .7
}
.section-top-caption {
    font-family: "ff-meta-serif-web-pro", Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    color: #4c4c4c;
    font-size: 1.9vw;
    line-height: 33px;
    font-weight: 100;
    margin-left: 55%;
    margin-top: 0px
}

h1,h2,h3 {
    font-family: ff-meta-serif-web-pro, Arial, Times, "Times New Roman", serif;
    line-height: 1em;
    font-weight: 700;
}

p {
    font-family: ff-meta-serif-web-pro, Georgia, Times, "Times New Roman", serif;
    font-size: 26px;
    line-height: 39px;
    font-weight: 400;
    margin-bottom: 40px;
}

.break {
    font-family: ff-meta-serif-web-pro, Arial, Times, "Times New Roman", serif;
    color: #666;
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.quote {
    font-family: ff-meta-serif-web-pro, Georgia, Times, "Times New Roman", serif;
    color: #4c4c4c;
    font-size: 20px;
    line-height: 34px;
    font-weight: 100;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 60px;
    width: 80%;
}

.img-center {
    width: 40%;
    max-width: 100%;
    min-width: 80%;
    margin-top: 2%;
    margin-right: auto;
    margin-bottom: 2%;
    margin-left: auto;
    display: block;
    width: 60%;
}

.art-caption {
    font-family: ff-meta-serif-web-pro, Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    color: #4c4c4c;
    font-size: 2vw;
    line-height: 33px;
    font-weight: 100;
    text-align: center;
    font-weight: 400;
    margin-bottom: 2%;
}

ul,li,ol,dl,dd,dt {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-button {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    padding: 2%;
}

footer {
    background-color: #d6d4d0;
    height: 100px;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

footer  p{
    font-size: 12pt;
    font-weight: 400;

@media only screen and (max-device-width: 481px) {
body {
     width: 100%;
    -webkit-text-size-adjust: auto;
}

p {
    font-family: ff-meta-serif-web-pro, Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    margin-bottom: 40px;
    width: 100%;
}
@media print {
    body { font-size: 12pt }
  }
.navbar {
    display: none;
}  
.btn{
     display: none;
}

.footer {
     display: none;
}
}
