h1 {
	font-size: 4.75em;
	font-family: arial, helvetica;
	opacity: .7;
	margin:0;
	padding:0;
	padding-left: 10%;
	width: 80%;
	color: #FFF;
	text-align: left;
	display: block;
}
h2 {
	font-size: 3.25em;
	font-family: arial, helvetica;
	opacity: .7;
	margin:0;
	padding:0;
	padding-left: 10%;
	width: 80%;
	min-width:inherit;
	color: #FFF;
	text-align: left;
	display: block;
}
h3 {
	font-size: 2.25em;
	font-family: arial, helvetica;
	opacity: .7;
	margin:0;
	padding:0;
	padding-left: 10%;
	width: 80%;
	color: #FFF;
	text-align: left;
	display: block;
}
#bootom3rd {
	top: 60%;
	position: relative;
}
.section {
	text-align:center;
}
/* Sections
 * --------------------------------------- */
 #section0,  #section1,  #section2,  #section3 {
}
#section0 {
	background-image: url(imgs/.jpg);
	padding: 0;
}
/*Creatin a ull height slide */
 .slides {
	height: 100%;
	display:block;
}
#slide1 {
	background-image: url(imgs/001a.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size: cover;
	height: 100%;
	display:block;
}
#slide2 {
	background-image: url(imgs/002a.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size: cover;
	height: 100%;
	display:block;
}
#section2 {
	background-image: url(imgs/);
	padding: 6% 0 0 0;
}
#section3 {
	background-image: url(imgs/);
	padding: 6% 0 0 0;
}
#section3 h1 {
	color:#000;
}
