body
{
background-color: #d6d4d0;
}

.section {
	text-align:center;
	width: 99%
}
/* Menu
 * --------------------------------------- */
ul li {
	display:inline-block;
	padding: 20px;
	color: #ccc;
}
ul li.active {
	color: #000;
}
ul {
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	background: #fff;
	z-index: 9999;
	width: 100%;
	padding: 0;
	margin:0;
}
/* Demos Menu
 * --------------------------------------- */
 #demosMenu {
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
}
/* Sections
 * --------------------------------------- */
#section {
}
#section0 {
}
#section1 {
	background-image: url(imgs/001a.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size: cover;
	padding: 6% 0 0 0;
	width: 100%;
}
#section2 {
	background-image: url(imgs/002a.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size: cover;
	padding: 6% 0 0 0;
	width: 100%;
}
#section3 {
	background-image: url(imgs/.jpg);
	padding: 6% 0 0 0;
}
#section3 h1 {
	color:#000;
}
/*Creatin a ull height slide */
.slides {

}
#slide1 {
}
#slide2 {
}
